.header {
  &:extend(.ph-2);
  &:extend(.pv-2);

  .logo {
    width: auto;
  }

  @media (min-width: 576px) {
    .logo {
      height: auto;
      height: 125px;
    }
  }

  @media (min-width: 768px) {
    .logo {
      height: 150px;
    }
  }

  @media (min-width: 992px) {
    .logo {
      height: unset;
    }
  }
}

.menu-title {
  &:extend(.use-pointer);
  &.active {
    &:extend(.text-color-orange);
  }
  &:hover {
    &:extend(.text-color-orange);
  }
}
